extends layout

block content
  h1= title
  p Welcome to #{title}

  if(user) 
    p Welcome back
    p=user.username
    p VIP Status: #{user.membership}
    if(messages.length > 0)
      div.card
      each message in messages 
        div.card-body
          p #{message.message}
  
