extends layout

block content
  div.sides
    if(messages.length > 0)
      each message in messages 
        if(user && user.membership)
          div.card.mb-3
            div.card-body
              h5 #[strong #{message.user.username}]  
              p #{message.message}
              div.d-flex.justify-content-between
                p #{message.postDate.toLocaleDateString()}-#{message.postDate.getHours()+":"+message.postDate.getMinutes()}
                if(user.admin)
                  form(method='post' action='')
                    div.form-group
                      input#adminpassword.form-control(type='hidden' name='postid' required='true' value=message._id)
                      button.btn.btn-primary(type='submit') Delete
        else 
          div.card.mb-3 
            div.card-body 
              h5 #[strong ANONYMOUS]
              p #{message.message}
      
  
