extends layout

block content
  h1= title
  p Welcome to #{title}

  if(user) 
    p Welcome back
    p=user.username
    p VIP Status: #{user.membership}
  if(messages.length > 0)
    div.card
    each message in messages 
      div.card-body
        if(user && user.membership)
          p #[strong #{message.user.username}]-  #{message.message}
          p #{message.postDate.toLocaleDateString()}-#{message.postDate.getHours()+":"+message.postDate.getMinutes()}
        else 
          p ANONYMOUS-  #{message.message}
      
  
