extends layout

block content
  if(user) 
    p Welcome back
    p=user.username
    p VIP Status: #{user.membership}
  if(messages.length > 0)
    div.card
    each message in messages 
      div.card-body.pb-0
        if(user && user.membership)
          p #[strong #{message.user.username}]-  #{message.message}
          p #{message.postDate.toLocaleDateString()}-#{message.postDate.getHours()+":"+message.postDate.getMinutes()}
          if(user.admin)
            form(method='post' action='')
              div.form-group
                input#adminpassword.form-control(type='hidden' name='postid' required='true' value=message._id)
                button.btn.btn-primary(type='submit') Delete
        else 
          p ANONYMOUS-  #{message.message}
      
  
